{% extends "base.html" %}

{% block messages %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endblock %}

{% block H1_Description %}
    <div class="shadow p-3 mb-auto text-center">
        <h1>Welcome!</h1>
        <br>
        <div>
            This application is intended for insurance providers so that they can get an estimated cost of an applicants
            coverage based on age, sex, BMI and if they smoke or not.
        </div>
    </div>
{% endblock %}

{% block H1_Content %}

{% endblock %}

{% block H2_Description %}
    <div class="shadow p-3 mb-auto text-center">
        <h1>Navigation</h1>
        <br>
        <span>Use the tabs on the top of the website for navigation</span>
    </div>
{% endblock %}

{% block H2_Content %}

{% endblock %}